@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
/* input,
button,
textarea,
select {
  font: inherit;
} */

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff2e5;
}
.post__wrapper {
  background: #fff9f2;
  width: 900px;
  display: flex;
  margin: 0px auto;
  flex-direction: column;
  align-items: center;
}
.form-user {
  display: flex;
  flex-direction: column;
}
.form-user input,
span {
  display: inline-block;
  margin: 0px auto;
  padding: 5px;
  min-width: 450px;
  max-width: 550px;
  position: relative;
  margin-top: 20px;
}
.form-user input.error {
  border: 1px solid red;
}
.form-user input.agree {
  border: 1px solid green;
}
.form-user button {
  margin: 0px auto;
  display: block;
  margin-top: 30px;
  padding: 0px 36px;
  color: #ffffff;
  background: #30c7a6;
  align-self: start;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.04em;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.4s ease;
}
.form-user span[name="email"]::before {
  content: "Email* ";
  font-size: 18px;
  position: absolute;
  top: 44%;
  left: -60px;
  /* width: 25px;
  height: 25px; */
  color: black;
}
.form-user span[name="surname"]::before {
  content: "Фамилия* ";
  font-size: 18px;
  position: absolute;
  top: 44%;
  left: -94px;
  /* width: 25px;
  height: 25px; */
  color: black;
}
.form-user span[name="name"]::before {
  content: "Имя* ";
  font-size: 18px;
  position: absolute;
  top: 44%;
  left: -48px;
  /* width: 25px;
  height: 25px; */
  color: black;
}
.form-user span[name="password"]::before {
  content: "Пароль* ";
  font-size: 18px;
  position: absolute;
  top: 44%;
  left: -75px;
  /* width: 25px;
  height: 25px; */
  color: black;
}
.form-user span[name="password"]::after {
  content: "Минимальная длина - 6 символов! ";
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 10px;
  color: rgb(42, 42, 42);
}
.form-user span[name="password"] {
  margin-bottom: 10px;
}
textarea {
  resize: none;
}

