.page__img {
  float: left;
  height: 170px;
  margin-left: 15px;
  margin-bottom: 8px;
  margin-right: 25px;
  border: 1px solid #81a03c;
  padding: 1px;
}

.page__img img {
  width: auto;
  height: 100%;
}

.page__edit {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 26px;
  height: 26px;
}

.page__favorite {
  position: absolute;
  top: 20px;
  -webkit-transition: all .7s ease 0s;
  transition: all .7s ease 0s;
  right: 75px;
  width: 28px;
  height: 28px;
}

.page__favorite:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.page__recipe {
  padding-top: 15px;
  text-align: justify;
  letter-spacing: 0.5px;
  margin: 0px auto;
  max-width: 550px;
  margin-bottom: 30px;
}

.page__title {
  margin-top: 10px;
  font-size: 24px;
  color: #e39915;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 47px;
  font-weight: bold;
  margin-bottom: -10px;
}

.page__wrapper {
  position: relative;
}

.page__head {
  font-size: 17px;
  width: 100%;
  padding-left: 100px;
}

.page__card {
  width: 70%;
  margin: 0px auto;
  padding: 15px;
}

.page__card hr {
  border-color: #e39915;
  color: #e39915;
  background-color: #e39915;
}

.page__img {
  float: left;
  margin-top: 10px;
  margin-bottom: 8px;
  margin-right: 25px;
}

.page__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page__about {
  text-align: justify;
  margin: 0 5px;
  padding: 20px;
  padding-top: 10px;
}

.page__portion {
  margin: 5px 0;
}

.page__portion::before {
  content: "";
  background: url("../../images/bowl-hot-solid-24.png") center/16px 16px no-repeat;
  padding: 10px;
  margin-right: 7px;
}

.page__time {
  margin: 5px 0;
}

.page__time::before {
  content: "";
  background: url("../../images/time.png") center/16px 16px no-repeat;
  padding: 10px;
  margin-right: 7px;
}

.page__author {
  margin: 5px 0;
}

.page__author::before {
  content: "";
  background: url("../../images/author.png") center/16px 16px no-repeat;
  padding: 10px;
  margin-right: 7px;
}

.page__date-create {
  margin: 5px 0;
}

.page__date-create::before {
  content: "";
  background: url("../../images/calendar.png") center/16px 16px no-repeat;
  padding: 10px;
  margin-right: 7px;
}

.page__date-update {
  margin: 5px 0;
}

.page__date-update::before {
  content: "";
  background: url("../../images/update.png") center/16px 16px no-repeat;
  padding: 10px;
  margin-right: 7px;
}

.page__about-text {
  padding-left: 12px;
  font-size: 20px;
  font-style: italic;
  margin: 0 15px 15px 0;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.page__table {
  text-align: left;
  float: left;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100%;
  background-color: #d9e0a6;
}

.page__table table {
  width: 60%;
  font-size: 18px;
  margin-left: 50px;
  margin-bottom: 10px;
  border-spacing: 2px;
}

.page__table table td {
  padding: 5px;
}

.page__table table tr:last-child {
  margin-bottom: 10px;
}

.page__table table th {
  color: #d84c00;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
}

.page__table table th span {
  color: #8b9d52;
  font-weight: normal;
  font-size: 16px;
}

.page__table-colorize {
  background: #e5eac2;
}
