.page__img {
  float: left;
  height: 170px;
  margin-left: 15px;
  margin-bottom: 8px;
  margin-right: 25px;
  border: 1px solid #81a03c;
  padding: 1px;
  & img {
    width: auto;
    height: 100%;
  }
}
.post {
  &__wrapper {
  }
}
.page {
  &__edit {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 26px;
    height: 26px;
  }
  &__favorite {
    position: absolute;
    top: 20px;
    transition: all .7s ease 0s;
    right: 75px;
    width: 28px;
    height: 28px;
    &:hover{
     transform: scale(1.2);
    }
  }
  &__recipe {
    padding-top: 15px;
    text-align: justify;
    letter-spacing: 0.5px;
    margin: 0px auto;
    max-width: 550px;
    margin-bottom: 30px;
  }
  &__title {
    margin-top: 10px;
    font-size: 24px;
    color: #e39915;
    align-self: start;
    margin-left: 47px;
    font-weight: bold;
    margin-bottom: -10px;
  }
  &__wrapper {
    position: relative;
  }
  &__head {
    font-size: 17px;
    width: 100%;
    padding-left: 100px;
  }
  &__card {
    width: 70%;
    margin: 0px auto;
    padding: 15px;
    & hr {
      border-color: #e39915;
      color: #e39915;
      background-color: #e39915;
    }
  }
  &__img {
    float: left;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-right: 25px;
    & img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__description {
  }

  &__about {
    text-align: justify;
    margin: 0 5px;
    padding: 20px;
    padding-top: 10px;
  }

  &__portion {
    margin: 5px 0;
    &::before {
      content: "";
      background: url("../../images/bowl-hot-solid-24.png") center/ 16px 16px no-repeat;
      padding: 10px;
      margin-right: 7px;
    }
  }
  &__time {
    margin: 5px 0;
    &::before {
      content: "";
      background: url("../../images/time.png") center/ 16px 16px no-repeat;
      padding: 10px;
      margin-right: 7px;
    }
  }

  &__author {
    margin: 5px 0;
    &::before {
      content: "";
      background: url("../../images/author.png") center/ 16px 16px no-repeat;
      padding: 10px;
      margin-right: 7px;
    }
  }
  &__date-create {
    margin: 5px 0;
    &::before {
      content: "";
      background: url("../../images/calendar.png") center/ 16px 16px no-repeat;
      padding: 10px;
      margin-right: 7px;
    }
  }
  &__date-update {
    margin: 5px 0;
    &::before {
      content: "";
      background: url("../../images/update.png") center/ 16px 16px no-repeat;
      padding: 10px;
      margin-right: 7px;
    }
  }

  &__about-text {
    padding-left: 12px;
    font-size: 20px;
    font-style: italic;
    margin: 0 15px 15px 0;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  &__table {
    text-align: left;
    float: left;
    align-self: start;
    width: 100%;
    background-color: #d9e0a6;
    & table {
      width: 60%;
      font-size: 18px;
      margin-left: 50px;
      margin-bottom: 10px;
      border-spacing: 2px;
      & td {
        padding: 5px;
      }
      & tr:last-child {
        margin-bottom: 10px;
      }
      & th {
        & span {
          color: #8b9d52;
          font-weight: normal;
          font-size: 16px;
        }
        color: #d84c00;
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
      }
    }
    &-colorize {
      background: #e5eac2;
    }
  }
}
.page__date-create span,
.page__date-update span {
  display: contents;
}