.post {
  border: 5px solid #ece3da;
  width: 675px;
  margin: 20px 20px 10px;
  & button {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    font-size: 17px;
    transition: all 0.1s ease 0s;
    &:hover {
      text-decoration: underline;
      color: rgb(80, 101, 192);
    }
  }
}
.post__title {
  position: relative;
  & h3 {
    background: #ece3da;
    border-radius: 0px 0 15px 15px;
    font-size: 24px;
    padding: 5px;
    display: inline-block;
    min-width: 313px;
    min-height: 30px;
  }
}
.post__block {
  display: flex;
  column-gap: 20px;
}
.post__img {
  position: relative;
  width: 210px;
  margin: 15px 0 15px 15px;
  border: 1px solid #81a03c;
  height: 170px;
  padding: 2px;
  & img {
    height: 100%;
    width: 100%;
    // object-fit: cover; 
  }
}
.post__description {
  text-align: justify;
  padding: 0px 9px;
  margin-top: 15px;
  font-size: 18px;
}
.post__footer {
  display: flex;
  justify-content: space-between;
  background: #ece3da;
  padding: 10px;
  font-size: 16px;
}
.post__author {
  margin-right: auto;
}
.post__data {
}
